#chart-section {
    background: transparent;
    padding: 20px 200px;
}

@media only screen and (max-width: 1000px) {
    #chart-section {
        padding: 20px 100px;
    }
}

@media only screen and (max-width: 650px) {
    #chart-section {
        padding: 20px;
    }
}

#chart-section > .buttons {
    margin: 10px;
}

.amchartclass {
    width: 100%;
    height: 70vh;
}

#india-heatmap {
    font-size: 30px;
    font-weight: 700;
    padding-left: 20px;
}