html , body {
    width: 100%;
    overflow-x: hidden;
}

#statedata {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
}

#statetable {
    cursor: pointer;
}

/* Table Headings begin */
#statetable > thead > tr > th {
    background-color: rgb(227, 218, 238);
    color: rgb(110, 32, 212);
    border: 3px solid white;
    padding: 2px 4px;
}

#districttable > thead > tr > th {
    background-color: rgb(215, 216, 235);
    color: rgb(35, 32, 212);
    border: 3px solid white;
    padding: 2px 4px;
}
/* Table Headings End */


#districttable {
    margin-left: 20px;
}